service.properties
service.properties.dev
hibernate.properties
hibernate.properties.dev
db-settings.properties.dev
hibernate-clob.properties.dev
hibernate-test.properties.dev
cassandra.properties.dev
webdav.properties.dev
/filter.properties
*.iws
.settings
*/catalog.xml
nb-configuration.xml
*.ipr
/release.properties
.classpath
/build.properties
*.iml
target
*.log
nohup.out
update-source.sh
tiramisu
.project
.pydevproject
.idea
/build-fix_.patch
*.ids
*.bat
*.pyc
log
classes
projectFilesBackup__pages/
/.gitk-tmp.*
*~
#*#
atlassian-ide-plugin.xml
rebel.xml
.directory

/hh-webapp/ef/
/hh-webapp/rw/
nbproject
nbactions.xml
logs
.DS_Store
out/
test-output/
/applicant-mailing/.toDelete
/hh-core-old-billing/.toDelete
/hh-core/.toDelete
/hh-webapp/.toDelete
/soc-aggregator/.toDelete
/billing-webapp/.toDelete
